.div-cuadros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro{
    color: red;
    margin: 20px 5px;
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

.cuadro-1{
    background: #5fc95f;
    opacity: 0.5;
}

.cuadro-2{
    background: #e6e678;
    opacity: 0.5;
}

.cuadro-3{
    background: #ee5d55;
    opacity: 0.5;
}

.cuadro-4{
    background: #6d9edb;
    opacity: 0.5;;
}
